@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");

.food-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.app-title {
  font-size: 4rem;
  font-family: "Bigelow Rules", cursive;
  letter-spacing: 2px;
}
